
{{ define "main" }}
<main class="main">
  <header class="page-header">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}<p>{{ . }}</p>{{ end }}
  </header>

 <link rel="stylesheet" href="{{ "css/course_overview.css" | relURL }}">


  {{ if .Sections }}
  <div class="overview_items">
    {{ range $i, $section := sort .Sections ".File.Dir" "asc" }}
         {{ if $section.Title }}
        <a href="{{ .RelPermalink }}" class="overview_card">
            <h2>{{ add $i 1}}. {{ $section.Title }}</h2>
          {{ with $section.Params.description }}<p>{{ . }}</p>{{ end }}
        </a>
      {{ end }}
    {{ end }}
  </div>
  {{ else }}
    <p>No subtopics found.</p>
  {{ end }}


  <br>

{{ if .Site.Params.ShowShareButtons }}
  {{ partial "share_icons.html" . }}
{{ end }}

</main>
{{ end }}
