
<footer class="footer has-background-light has-text-centered">
  <p>&copy; 2025 Md. Yeasin Sheikh</p>
</footer>
<!-- <footer class="footer"> -->
<!--   <div class="container text-center"> -->
<!--     <p> -->
<!--       &copy; 2025 Md. Yeasin Sheikh. All rights reserved. -->
<!--     </p> -->
<!--     <p> -->
<!--       Follow me: -->
<!--       <a href="https://github.com/yeasin50" target="_blank">GitHub</a> | -->
<!--       <a href="https://youtube.com/channel/yt.yeasin50" target="_blank">YouTube</a> | -->
<!--       <a href="https://linkedin.com/in/md.yeasinsheikh" target="_blank">LinkedIn</a> -->
<!--     </p> -->
<!--   </div> -->
<!-- </footer> -->
