<div class="playlist-cards">
  {{ range .Site.Data.playlist_items }}
    <div class="playlist-card">
      <a href="{{ .url }}" class="playlist-card-link">
        <div class="playlist-card-body">
          <h2 class="playlist-card-title">{{ .title }}</h2>
          <p class="playlist-card-desc">{{ .description }}</p>
          {{ with .tags }}
            <p class="playlist-card-tags">
              {{ range . }}
                <span class="tag">{{ . }}</span>
              {{ end }}
            </p>
          {{ end }}
        </div>
      </a>
    </div>
  {{ end }}
</div>
