{{- $scratch := newScratch }}

{{- if not .Params.hideDate }} 
    {{- $now := now }}
    {{- if .Date.After $now }}
      {{- $scratch.Add "meta" (slice (printf "<span title='%s'>Available on %s</span>" (.Date) (.Date | time.Format (default "January 2, 2006 15:04 MST" site.Params.DateFormat)))) }}
    {{- else }}
      {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
    {{- end }}
{{- end }} 

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}



{{- $metaItems := $scratch.Get "meta" }}

{{- if $metaItems }}
<div class="post-meta-wrapper">
  <div class="post-meta-left">
    {{- delimit $metaItems "&nbsp;·&nbsp;" | safeHTML -}}
  </div>

  {{- if .Params.tags }}
    {{- $tags := .Params.tags }}
    {{- if gt (len $tags) 4 }}
      {{- $tags = slice $tags 0 4 }}
    {{- end }}
    <div class="post-meta-right tags-card">
      {{ $tags := .Params.tags }}  <!-- assign tags from front matter -->
      {{- if $tags }}               <!-- check if tags exist -->
        {{- range $tags }}
          <span class="post-tag tag-{{ . | urlize }}">{{ . }}</span>
        {{- end }}
      {{- else }}
        <span class="post-tag">No tags</span>
      {{- end }}
    </div>
  {{- end }}
</div>
{{- end }}

