{{/* Get the tags from the shortcode parameter and split by comma */}}
{{ $tags_param := split (.Get "tags") "," }}

<div class="topic_group_card">
  {{ range .Site.Data.playlist_groups }}
    {{/* Check if any of the passed tags exist in the group */}}
    {{ $match := false }}
    {{ range $t := $tags_param }}
      {{ if in .tags $t }}
        {{ $match = true }}
      {{ end }}
    {{ end }}

    {{ if $match }}
      {{ $count := 0 }}
      {{ range $.Site.Data.playlist_items }}
        {{ if intersect .tags $.tags }}
          {{ $count = add $count 1 }}
        {{ end }}
      {{ end }}
      <div class="topic_group_card">
        {{ with .image }}
          <img class="topic_group_card" src="{{ . }}" alt="{{ $.title }}">
        {{ end }}
        <h2 class="topic_group_title">{{ .title }}</h2>
        <p class="topic_group_desc">{{ .description }}</p>
        <p class="topic_group_counter">
          {{ if .counter }}
            {{ .counter }} videos
          {{ else }}
            {{ $count }} videos
          {{ end }}
        </p>
      </div>
    {{ end }}
  {{ end }}
</div>
